<!DOCTYPE html>
html(lang="en")
	//Include header
	include ./block_html/head.jade
body
	include ./block_html/header.jade
	.main-baner
		.container
			.main-baner-wraper
				.main-baner-title Система создана рестораторами <br> для рестораторов
				.main-baner-text
					.main-baner-text-left
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum deserunt impedit, quia omnis laudantium dolorum magni eligendi architecto quae dignissimos? Soluta molestiae, minus nesciunt nostrum quis dolores nulla et saepe expedita earum atque ex, tempora eveniet, architecto, provident iure eum.

						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum deserunt impedit, quia omnis laudantium dolorum magni eligendi architecto quae dignissimos? Soluta molestiae, minus nesciunt nostrum quis dolores nulla et saepe expedita earum atque ex, tempora eveniet, architecto, provident iure eum.

					.main-baner-text-right
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut repudiandae numquam quibusdam dignissimos ullam, similique odio vitae! Dolores facere consectetur praesentium assumenda qui quam incidunt, expedita doloremque sit beatae omnis sint laboriosam a harum, voluptatibus cum, quae quo! Deserunt, atque.

						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum deserunt impedit, quia omnis laudantium dolorum magni eligendi architecto quae dignissimos? Soluta molestiae, minus nesciunt nostrum quis dolores nulla et saepe expedita earum atque ex, tempora eveniet, architecto, provident iure eum.

	.line-icon-avtomat
		.container
			.line-icon-avtomat-wraper
				.line-icon-avtomat-title Система автоматизации заказов
				.line-icon-avtomat-icon
					.line-icon-avtomat-icon-items
						.line-icon-avtomat-icon-items-img
							img(src="img/icon-Setting.png", alt="")
						.line-icon-avtomat-icon-items-text Автоматизация ресторана
					hr
					.line-icon-avtomat-icon-items
						.line-icon-avtomat-icon-items-img
							img(src="img/icon-support.png", alt="")
						.line-icon-avtomat-icon-items-text Техническая поддержка
					hr
					.line-icon-avtomat-icon-items
						.line-icon-avtomat-icon-items-img
							img(src="img/icon-truck.png", alt="")
						.line-icon-avtomat-icon-items-text Автоматизация службы доставки
					hr
					.line-icon-avtomat-icon-items
						.line-icon-avtomat-icon-items-img
							img(src="img/icon-key.png", alt="")
						.line-icon-avtomat-icon-items-text Запуск модулей iiko под ключ

	.consalt-block
		.container
			.consalt-block-wraper
				.consalt-block-title Консалтинг и учет вашего ресторана
				.consalt-block-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates laboriosam, perspiciatis cum magnam ipsam. Vitae laudantium laboriosam dicta, facilis accusamus ratione alias, beatae pariatur voluptatem praesentium quasi officiis qui assumenda non omnis quaerat? Distinctio sed placeat suscipit repellat eos in?
				.consalt-block-column
					.consalt-block-column-el
						.consalt-block-column-el-title Консалтинг
						a(href="#").consalt-block-column-el-text  Lorem ipsum dolor sit amet.
						a(href="#").consalt-block-column-el-text  Lorem ipsum dolor sit amet.
						a(href="#").consalt-block-column-el-text  Lorem ipsum dolor sit amet.
					.consalt-block-column-el
						.consalt-block-column-el-title Учет
						a(href="#").consalt-block-column-el-text  Lorem ipsum dolor sit amet.
						a(href="#").consalt-block-column-el-text  Lorem ipsum dolor sit amet.
						a(href="#").consalt-block-column-el-text  Lorem ipsum dolor sit amet.
					.consalt-block-column-el
						.consalt-block-column-el-title Аутсорсинг
						a(href="#").consalt-block-column-el-text  Lorem ipsum dolor sit amet.
						a(href="#").consalt-block-column-el-text  Lorem ipsum dolor sit amet.
						a(href="#").consalt-block-column-el-text  Lorem ipsum dolor sit amet.

	.grey-title
		.grey-title-text Первая ежегодная премия в области ресторанного бизнеса от компании РесторанСервисИнфо

	.parters
		.container
			.parters-wraper
				a(href="#").parters-top-but
					span Узнать о премии
				.parters-line-buttons
					a(href="#").parters-line-buttons-items Наши партнеры
					a(href="#").parters-line-buttons-items Наши клиенты
				.parters-slider.owl-carousel
					img(src="img/partners.png", alt="")
					img(src="img/partners.png", alt="")
					img(src="img/partners.png", alt="")
					img(src="img/partners.png", alt="")
				.parters-list
					ul
						li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit assumenda eius itaque recusandae iure corporis quis ab delectus debitis commodi!
						li Ducimus aliquid deserunt laudantium consequuntur laborum quas libero cumque rerum, eaque error, eligendi ipsa, cupiditate officiis magni vel dignissimos fugiat?
						li Eveniet fuga, molestias eos dolore dicta, recusandae explicabo quos modi placeat dolorem accusantium, sapiente ipsa tempora perspiciatis autem deleniti quia!
						li Ipsum inventore ad ducimus ex, magnam, nam omnis neque voluptatibus maxime, obcaecati rem eum at rerum necessitatibus autem quas, quidem.
						li Autem fugiat ut, saepe molestiae harum magnam, odio aut. Quas dolore corrupti aut. Laborum corporis voluptatibus tenetur voluptates blanditiis voluptas?
						li Impedit quos, dignissimos reprehenderit at fuga quae! Totam neque officiis maxime, fugiat quisquam itaque quia ad a aliquid reprehenderit molestiae!
						li Facilis culpa laboriosam error accusantium veniam fugit laborum, id, eius eligendi officia nesciunt cum nobis, molestiae omnis quam quis iste.
						li Suscipit quaerat tenetur, quidem voluptates error ullam doloribus ab delectus numquam minus iste quod tempora, iusto tempore, magni eligendi mollitia!
						li Eos eligendi vero accusantium laboriosam impedit a laudantium provident magni dolorum amet, atque quo culpa neque aperiam, minima odio voluptates.
						li Dolorum molestias explicabo, reprehenderit quasi labore voluptatem similique debitis molestiae quaerat sint beatae sapiente perferendis optio i

	.study
		.container
			.study-wraper
				.study-title Обучение
				.study-text Для того, чтобы рестораны могли уверенно пользоваться всеми возможностями истемы,мы разработали несколько курсов обучения, проводим семинары и другие мероприятия
				.study-column
					.study-column-items
						.study-column-items-img
							img(src="img/icon-imac.png", alt="")
						.study-column-items-text ONLYNE-КУРСЫ
					.study-column-items
						.study-column-items-img
							img(src="img/icon-mick.png", alt="")
						.study-column-items-text Семинары
					.study-column-items
						.study-column-items-img
							img(src="img/icon-note.png", alt="")
						.study-column-items-text индивидуальное обучение по iiko
					.study-column-items
						.study-column-items-img
							img(src="img/icon-calck.png", alt="")
						.study-column-items-text школа калькуляторов
				img(src="img/arrow-down.png", alt="").study-arrow

	.rewiev
		.container
			.rewiev-wraper
				.rewiev-title Отзывы
				.rewiev-slider.owl-carousel
					.rewiev-slider-el
						.rewiev-slider-el-img
							img(src="img/avatar-1.png", alt="")
						.rewiev-slider-el-info
							.rewiev-slider-el-info-name  Ирина Попова
							.rewiev-slider-el-info-prof  Lorem ipsum dolor sit amet.
							.rewiev-slider-el-info-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis necessitatibus quibusdam accusamus, iusto quae dolore laborum modi impedit animi, exercitationem voluptatibus rerum adipisci ipsa, laboriosam itaque consequuntur ducimus sunt blanditiis. Fugiat odit dolores nihil commodi? Numquam laudantium harum velit?
					.rewiev-slider-el
						.rewiev-slider-el-img
							img(src="img/avatar-1.png", alt="")
						.rewiev-slider-el-info
							.rewiev-slider-el-info-name  Ирина Попова
							.rewiev-slider-el-info-prof  Lorem ipsum dolor sit amet.
							.rewiev-slider-el-info-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis necessitatibus quibusdam accusamus, iusto quae dolore laborum modi impedit animi, exercitationem voluptatibus rerum adipisci ipsa, laboriosam itaque consequuntur ducimus sunt blanditiis. Fugiat odit dolores nihil commodi? Numquam laudantium harum velit?

	.news
		.container
			.news-wraper
				a(href="#").news-but Читать все новости
				.news-title новости компании
				.news-column
					- for (var x = 0; x < 3; x++)
						.news-column-el
							.news-column-el-date 12
							.news-column-el-day декабря
							.news-column-el-year 2015
							.news-column-el-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus culpa voluptatibus nulla sequi, ipsam enim. Dolore veniam, cum incidunt harum suscipit delectus perspiciatis consequatur, ad nam eos blanditiis! Dicta aut reiciendis atque aperiam dolorem quia voluptatem dolores iste exercitationem suscipit.
							a(href="#").news-column-el-href Подробнее

	.seminars
		.container
		.seminars-wraper
			.seminars-title Семинары
			.seminars-colum
				.seminars-left
					- for (var x = 0; x < 2; x++)
						.seminars-items-el
								.seminars-items-wrap
									.seminars-items-left
										img(src="img/avatar-2.png", alt="")
									.seminars-items-right
										.seminars-items-right-title Прием заказов в call-центр от нового клиента
										.seminars-items-right-text
											a(href="#") новый старт
											span 20.10.2015
										a(href="#").seminars-items-but
											span подробнее
				.seminars-right
					- for (var x = 0; x < 2; x++)
						.seminars-items-el
							.seminars-items-wrap
								.seminars-items-right
									.seminars-items-right-title Прием заказов в call-центр от нового клиента
									.seminars-items-right-text
										a(href="#") новый старт
										span 20.10.2015
									a(href="#").seminars-items-but
										span подробнее
								.seminars-items-left
									img(src="img/avatar-2.png", alt="")
										
	include ./block_html/footer.jade

	//Include Footer
	include ./block_html/script.jade