.footer
	.container
		.footer-wrap
			.footer-title Мы в социальных сетях
			.footer-soc
				img(src="img/icon-vk.png", alt="")
				img(src="img/facebook-icon.png", alt="")
				img(src="img/livejournal-icon.png", alt="")
	.footer-lineMenu
		a(href="#") Наша миссия
		a(href="#") Наши ценности
		a(href="#") Наша Новости
		a(href="#") Наша Статьи
	.container
		.footer-menu
			- for (var x = 0; x < 5; x++)
				.footer-vertMenu-el
					.footer-vertMenu-el-title Решения
					a(href="#")  Lorem ipsum dolor.
					a(href="#")  Lorem ipsum dolor.
					a(href="#")  Lorem ipsum dolor.
					a(href="#")  Lorem ipsum dolor.
					a(href="#")  Lorem ipsum dolor.
	.footer-bottom
		.container
			.footer-bottom-wraper
				.footer-bottom-el © Ресторан Сервис Инфо. 2008-2015
				.footer-bottom-el +7 (812) 600-44-95  |  заказать обратный звонок
				.footer-bottom-el 
					img(src="img/jq.png", alt="")
