.header
	.container
		.top-menu
			div.top-menu-search-blcok
				img(src="img/icon-serch.png", alt="")
				input(type="text")
			a(href="#").top-menu-el О компании
			a(href="#").top-menu-el Услуги 
			a(href="#").top-menu-el Обучение
			a(href="#").top-menu-el Контакты
			a(href="#").top-menu-el Возможности iiko
			a(href="#").top-menu-el Скачать TeamViawer
			div.top-menu-enter
				a(href="#").top-menu-el Вход
				img(src="img/icon-lock.png", alt="")

.header-contact
	.container
		.header-contact-wraper
			.header-contact-logo
				img(src="img/logo.png", alt="")
			.header-contact-but
				a(href="#") Онлайн заказ
				a(href="#") Онлайн резерв
			.header-contact-callBack
				.header-contact-callBack-text обратный <br> ЗВОНОК
				img(src="img/icon-call.png", alt="")
			.header-contact-numbers
				span +7 (812) 600-44-95
				span +7 (812) 676-88-77
				span 8 800 505 72 50